@page "/"
@using BlazorChat.Blazor.Client.Components

#
@if (username != null)
{
<h3>Login in to see chat</h3>
} else
{
    <Chat/>
}



@code {

    public string username { get; set; } = "";
}
